<div class="col-sm-8 col-sm-offset-2 topUpPreview page-content">
  <div class="content-header-bar">
    <h3 class="text-center">VERIFY TOP UP DETAILS </h3>
  </div>


  <div class="row">

    <div class="col-sm-4 text-right col-sm-offset-2">
     Food card number:
    </div>
    <div class="col-sm-4">
      {{topUpDetail.mobileNumber}}
    </div>
  </div>

  <div class="row">

    <div class="col-sm-4 text-right col-sm-offset-2">
      I want to top up by:
    </div>
    <div class="col-sm-4">
      {{topUpDetail.amount | currency}}
    </div>
  </div>

  <div class="row">

    <div class="col-sm-4 text-right col-sm-offset-2">
      Card type:
    </div>
    <div class="col-sm-4">
      {{topUpDetail.cardType}}
    </div>
  </div>
  <div class="row">

    <div class="col-sm-4 text-right col-sm-offset-2">
      Name on card:
    </div>
    <div class="col-sm-4">
      {{topUpDetail.cardFirstName}}
    </div>
  </div>
  <div class="row">

    <div class="col-sm-4 text-right col-sm-offset-2">
      Card number (ending in):
    </div>
    <div class="col-sm-4">
      {{topUpDetail.maskCreditCard}}
    </div>
  </div>
  <div class="row">

    <div class="col-sm-4 text-right col-sm-offset-2">
      Expiry date:
    </div>
    <div class="col-sm-4">
      {{topUpDetail.cardExpiryMonth}}/{{topUpDetail.cardExpiryYear}}
    </div>
  </div>

  <div class="row">

    <div class="col-sm-4 col-sm-offset-4 col-sm-offset-4">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="terms-conditions" id="terms-conditions" ng-model="termsConditions">I accept the <a href="http://www.vodafone.ie/terms/prepay/index.jsp" target="_blank">terms and conditions</a> 
        </label>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-4 col-sm-offset-4 col-sm-offset-4 text-center">
      <button type="button" class="btn btn-primary topUpSubmit" ng-click="topUpSubmit()">
        Topup
      </button>
    </div>
  </div>
</div>